* {
    margin: 0;
}

.listWrap {
    border-left: 1px solid black;
}

li {
    list-style: none;
}

.folderImg {
    background-image: url(img/folder.png);
    background-size: cover;
    width: 30px;
    height: 30px;
    display: block;
    float: left;
}

.fileImg {
    background-image: url(img/file.png);
    background-size: cover;
    width: 30px;
    height: 30px;
    display: block;
    float: left;
}

.name {
    height: 100%;
    line-height: 30px;
    display: block;
    margin-left: 40px;
}

.DirectoryMap {
    font-family:'Courier New', Courier, monospace;
    font-size: small;
    margin-left: 40px;
}

h1 {
    margin-left: 40px;
}